*{
font-family: Georgia;
}
h1{
  background-image:url("https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg");
  color: Magenta;
  height: 450px;
  background-position: center center;
  
  font-size:38px;
}
